<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">

    <h3>Congratulations! Your order will be arriving shortly: </h3>
    <header>
    <% binding.pry %>
      <span>Date: <%= @order.created_at %></span>
      <span>Total Cost: <%= humanized_money_with_symbol @order.total_cents / 100 %></span>
      <span>Email: <%= @order.user.email %></span>
    </header>
    <main>
      <% @order.line_items.each do |item| %>
      <section>
        <header>
          <span class="title"><%= item.product.name %></span>
          <span> <%= item.quantity %> x <%= humanized_money_with_symbol item.item_price_cents / 100 %> =
           <%= humanized_money_with_symbol item.total_price_cents / 100 %></span>
        </header>
        <details>
          <summary>Show Details</summary>
          <article>
            <aside>
              <%= image_pack_tag "media#{item.product.image}", alt: "Image of #{item.product.name}" %>
            </aside>
            <div>
              <p><%= item.product.description %> </p>
            </div>
          </article>
        </details>
      </section>
      <% end %>
    </main>
  </div>

  <%= link_to "Continue Shopping", root_path, class: "btn btn-lg btn-primary" %>

</section>
