<section class="cart-show">
  <!-- Placeholder div to make space for the navbar (which is a position: absolute) -->
  <div class="placeholder"></div>
  <header class="page-header">
    <h1>My Order</h1>
  </header>
  <% if enhanced_cart.length > 0 %>
    <div>
    <% if @email %>
      <p>You will be notified when your order is ready at: <%= @email %></p>
    <% else %>
      <p>Please enter your email here to place an order as a guest, or <%= link_to "log in:", login_path %> </p>
      <%= form_with url: create_guest_users_path, method: :post do |form| %>
        <%= form.label :email, "Email: " %>
        <%= form.text_field :email %>
        <%= form.submit "Register as guest" %>
      <% end %>
    <% end %>
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% enhanced_cart.each do |item| %>
            <%= render "item", product: item[:product], quantity: item[:quantity].to_i %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3">
              TOTAL:
            </th>
            <th>
              <%= humanized_money_with_symbol cart_subtotal_cents / 100.0 %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <% if @email %>
      <div class="bottom-link payment">
        <%= form_tag orders_path do %>
          <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-amount="<%= cart_subtotal_cents %>"
              data-name="Yonago"
              data-description="Takeout Order from Yonago"
              data-locale="auto"
              data-email=<%= @email %>
              data-currency="cad"></script>
        <% end %>
      </div>
    <% else %>
      <div class="bottom-link payment">
        To place your order, please enter your email above so we know how to contact you!
      </div>
    <% end %>
    <%= button_to "Cancel Order", empty_cart_path %>
  <% else %>
    <div class="bottom-link error">
      There are no items in your order. Start by <%= link_to "browsing our menu", root_path %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="bottom-link error"><%= flash[:error] %></div>
  <% end %>
</section>
