
<main>
  <h1> Welcome to the Users Page </h1>


  <div class="well">
    <%= link_to 'Register New User', new_user_path, class: 'btn btn-info' %>
  </div>

  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user[:name] %></td>
          <td><%= user[:given_name] %></td>
          <td><%= user[:email] %></td>
          <td>
            <%= link_to fa_icon('trash'), [:admin, user], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure you want to delete this user?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>