<section class="products-index">
  <div class="title-image" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(<%= asset_pack_path('media/images/sushi-bar.jpg') %>)">
    <%= image_pack_tag 'media/images/logo.jpg', alt: "Blue Ruby logo", title: "Yonago" %>
    <h1>YONAGO</h1>
    <h2>A gem of a Japanese eatery!</h2>
  </div>

    <%# <script>
      const imagePath =  asset_pack("media/images/uploads/product/image/01-california-roll.jpg") ";
      console.log('Image path is: ', imagePath);
    </script> %>
  <%= 
  products_with_pack_urls = @products.as_json.map do |product|
    product["image_url"] = asset_pack_path("media#{product["image"]["url"]}")
    product["image_thumb_url"] = asset_pack_path("media#{product["image"]["thumb"]["url"]}")
    product["image_tiny_url"] = asset_pack_path("media#{product["image"]["tiny"]["url"]}")
    product
  end
  react_component("Base", { categories: @categories, products: products_with_pack_urls })
   %>
  <div class="menu-section">
    <div class="categories">
      <ul>
        <%= render partial: 'category', collection: @categories %>
      </ul>
    </div>
    <div class="menu">
      <header class="page-header" id="menu">
        <h1>Our Menu</h1>
      </header>
      <div class="products">
         <%= render partial: 'product', collection: @products %>
      </div>
    </div>
  </div> 
  <%= link_to "Pay Now", cart_path, class: "pay-button" %>
</section>
