<section class="products-show">
  <div class="placeholder"></div>
  <header class="page-header">
    <h1> <%= @product.category.name %> &raquo; <%= @product.name %></h1>
  </header>
  <article>
    <div class="row">
      <div>
        <%= image_pack_tag "media#{@product.image.url}", class: "main-img" %>
      </div>
      <div>
        <dl>
          <dt>Name:</dt>
          <dd><%= @product.name %></dd>
          <dt>Description:</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity Left:</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price:</dt>
          <dd><%= humanized_money_with_symbol @product.price %></dd>
        </dl>
      </div>
    </div>
    <% if (@product.quantity > 0) %>
      <%= button_to "Add to Order", add_item_cart_path(product_id: @product.id), class: "btn btn-primary", method: :post %>
    <% end %>
  </article>
</section>
