<!DOCTYPE html>
<html>
  <head>
    <title>Yonago</title>
    <%= stylesheet_pack_tag "application" , media: "all" , "data-turbolinks-track"=> true %>
    <%= javascript_pack_tag "application" , "data-turbolinks-track"=> true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/top_nav"  %> <!-- Renders _top_nav.html.erb -->
    <% if Sale.active_sales.length != 0 %>
      <p class="well">
        SALE ONGOING!!!
      </p>
    <% end %>
    <main class="container">
      <%= yield %>
    </main>
    <p>(C) 2020-2021 Sherwin Kwan. Yonago is an open source webapp - <a href="https://github.com/sherwin-kwan/yonago">see code here.</a></p>
  </body>
</html>
